apache-airflow==2.8.1 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.8.1/constraints-3.10.txt
pandas
sqlalchemy
psycopg2-binary
matplotlib
seaborn
streamlit
python-dotenv
